<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title> نظام كير | {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="نظام كير لادارة الخدمات والمنتجات في المملكة العربية السعودية." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% load static tz_detect %}
    {% tz_detect %}
    <!-- plugin css -->
    {% block PluginCSS %}{% endblock %}
    {% include 'care/shared/css.html' %}
</head>

<body class="loading authentication-bg authentication-bg-pattern">

    {% block Content %}{% endblock %}

    {% include 'care/shared/footer.html' %}
    {% include 'care/shared/js.html' %}

    <!-- plugin js -->
    {% block pluginJS %}
        <script src="{% static 'care/assets/js/pages/auth.init.js' %}"></script>
    {% endblock %}
</body>
</html>