{% load static %}
    <link href="{% static 'care/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'care/assets/libs/intl-tel-input/css/intl-tel-Input.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'care/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'care/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'care/assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'care/assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'care/assets/libs/mohithg-switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'care/assets/libs/jquery-toast-plugin/jquery.toast.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'care/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet"/>
    <link href="{% static 'care/assets/css/app-rtl.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet"/>
    <link href="{% static 'care/assets/css/bootstrap-dark.css' %}" rel="stylesheet" type="text/css" id="bs-dark-stylesheet"/>
    <link href="{% static 'care/assets/css/app-dark-rtl.css' %}" rel="stylesheet" type="text/css" id="app-dark-stylesheet"/>
    <link href="{% static 'care/assets/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'care/assets/css/icons.css' %}" rel="stylesheet" type="text/css"/>